<div class="cadastro-container">
  <div class="cadastro-card">
    <h2>Alterar Usuário</h2>

    <div class="avatar-container">
        <img src="assets\img/fotoexemplo.png" alt="Foto do usuário" class="avatar" />
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <!-- inputs com formControlName -->
  <input id="nome" type="text" formControlName="name" placeholder="Fulano da Silva" />
  <input id="email" type="email" formControlName="email" placeholder="email@empresa.com" />
  <input id="telefone" type="tel" formControlName="telefone" placeholder="(61) xxxx-xxxx" />
  <input id="setor" type="text" formControlName="setor" placeholder="Função do User" />

  <div class="botoes">
    <button type="button" class="btn-cinza" (click)="router.navigate(['/usuarios'])">Cancelar</button>
    <button type="submit" class="btn-roxo">Alterar</button>
  </div>
</form>

  </div>
</div>
