<div class="cadastro-container">
  <div class="cadastro-card">
    <h2>Alterar Usuário</h2>

    <div class="avatar-container">
        <img src="assets\img/fotoexemplo.png" alt="Foto do usuário" class="avatar" />
    </div>

    <form>
      <label for="nome">Nome Completo</label>
      <input id="nome" type="text" placeholder="Fulano da Silva" />

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="email@empresa.com" />

      <label for="telefone">Telefone</label>
      <input id="telefone" type="tel" placeholder="(61) xxxx-xxxx" />

      <label for="senha">Senha</label>
      <div class="senha-group">
        <input id="senha" type="password" placeholder="********" />
      </div>

      <label for="setor">Setor</label>
      <input id="setor" type="text" placeholder="Função do User" />

      <div class="botoes">
        <button type="button" class="btn-cinza">Cancelar</button>
        <button type="submit" class="btn-roxo">Alterar</button>
      </div>
    </form>
  </div>
</div>
